.aboutus {
  background: #f7f7f7;
  text-align: center;
  padding: 6.125rem 0 8.8125rem;
  position: relative;

  &_banner {
    position: relative;

    &:after {
      content: "";
      width: 19.1875rem;
      height: 32.0625rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0.9375rem;
      background: #fbaf17;
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      width: 200%;
      height: 20.5625rem;
      background: #202332;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &-svg {
      position: absolute;
      left: 0.75rem;
      bottom: -2.8125rem;
      background: #fff;
      border: 0.5rem solid #fbaf17;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6.25rem;
      width: 6.125rem;
      height: 6.125rem;
      z-index: 3;
    }
  }

  &_image {
    z-index: 2;
    position: relative;
  }

  &_svg {
    position: absolute;
    top: 4.0625rem;
    left: 50%;
    transform: translate(-200%);
  }

  &_title {
    color: #202332;
    text-align: center;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0656rem;
    text-transform: uppercase;
    margin: 0 0 2.125rem;
    z-index: 1;
    position: relative;
  }

  &_content {
    display: flex;
    justify-content: center;
    gap: 1.4375rem;
    align-items: center;
  }

  &_description {
    color: #333;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem;
    letter-spacing: -0.0338rem;
    margin: 0;
    text-align: left;

    &Block {
      width: 31.25rem;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 28.625rem;
    gap: 3.125rem;
  }

  &_link {
    width: 22.5rem;
    height: 3.9375rem;
    border-radius: 0.9375rem;
    background: #202332;
    border: 2px solid #202332;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem;
    letter-spacing: -0.0338rem;
    text-transform: uppercase;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      background: transparent;
      color: #202332;
    }
  }
}
